:root {
    /* criação de veriáveis */
    --vermelho: #E50914;
    --preta: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* elementos base */
body {
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

header .logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

/*.logo {
    height: 3.2rem;
    width: 10.9rem;
    background-size: cover;
    background-image: url(/img/logo.png);
} */

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover {
    color: #fff;
}

/* filme principal */
.anime-principal{
    font-size: 16px;
    background-image: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/img/xxxHolic-capa.jpg');

    height: 400px;
    background-size: cover; /*imagem do tamanho da box*/

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.anime-principal .descricao{
    margin-bottom: 40px;
}

.titulo{
    font-size: 40px;
}